body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
    margin: 0;
    text-align: center;
}

#content {
    position: relative;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    height: 100dvh;
}

#logo-container {
    padding: 20px;
}

#logo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#hero-image-container {
    width: 100%;
    height: 300px;
}

#hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#footer-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: black;
    color: white;
    height: 50px;
}

.link {
    background-color: fuchsia;
    width: 100px;
    height: 50px;
    color: slategrey;
    border: 2px solid brown;
}

a {
    text-decoration: none;
    color: black;
}
#image-carousel {

display: flex;

border: 2px solid black;

overflow-x: hidden;

width: 50%;

margin-top: 1rem;

margin-bottom: 1rem;

margin-left: auto;

margin-right: auto;

}


#carousel-images {

display: flex;

width: 100%;

overflow-x: scroll;

scroll-snap-type: x-mandatory;

}


.process-image {

width: 100%;

scroll-snap-align: start;

object-fit: cover;

}